@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../Shrift/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../Shrift/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url(../Shrift/NunitoSans-Regular.ttf);
}